main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.counter-container {
  display: flex;
  gap: 1.75em;
  align-items: center;

  @media (max-width: 500px) {
    flex-direction: column-reverse;
  }

  > .counter-display {
    font-size: 28px;
    color: grey;
    filter: drop-shadow(0 0.5rem 0.25rem rgba(0, 0, 0, 0.15));
    -webkit-filter: drop-shadow(0 0.5rem 0.25rem rgba(0, 0, 0, 0.15));
  }

  > .counter-button {
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.25em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition-duration: 0.2s;
    background: #6b9ffb !important;

    &:not(:active):hover {
      transform: scale(1.075);
      transition-duration: 0.2s;
    }
  }
}
